/*
* @Author: Xugai
* @Date:   2018-03-28 21:03:01
* @Last Modified by:   Xugai
* @Last Modified time: 2018-03-28 22:07:31
*/
/* 侧边导航主体 */
.nav-side{
	float:left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 30px;
	font-size: 14px;
}
.nav-side .nav-item .link{
	color:#888;
}
.nav-side .nav-item.active .link{
	color:#c60023;
}
/* 右侧内容区 */
.content.with-nav{
	float:left;
}