<!DOCTYPE html>
<html lang="en">
	<head>
		<%= require('html-loader!./layout/head-common.html') %>
		<title><%= htmlWebpackPlugin.options.title %> - happymmall在线电商购物平台</title>
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>
		<div class="w">
			<ul class="keywords-list">
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
					<a class="link" target="_blank" href="./list.html?keyword=数码">数码</a>
					<a class="link" target="_blank" href="./list.html?keyword=运营商">运营商</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
					<a class="link" target="_blank" href="./list.html?keyword=办公配件">办公配件</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
					<a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
					<a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
					<a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
					<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
					<a class="link" target="_blank" href="./list.html?keyword=生鲜">生鲜</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
					<a class="link" target="_blank" href="./list.html?keyword=家装">家装</a>
					<a class="link" target="_blank" href="./list.html?keyword=家居">家居</a>
					<a class="link" target="_blank" href="./list.html?keyword=食品">食品</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=个护化妆">个护化妆</a>
					<a class="link" target="_blank" href="./list.html?keyword=清洁用品">清洁用品</a>
					<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=男鞋">男鞋</a>
					<a class="link" target="_blank" href="./list.html?keyword=运动">运动</a>
					<a class="link" target="_blank" href="./list.html?keyword=户外">户外</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=房产">房产</a>
					<a class="link" target="_blank" href="./list.html?keyword=汽车">汽车</a>
					<a class="link" target="_blank" href="./list.html?keyword=汽车用品">汽车用品</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=母婴">母婴</a>
					<a class="link" target="_blank" href="./list.html?keyword=玩具乐器">玩具乐器</a>
					<a class="link" target="_blank" href="./list.html?keyword=童装童鞋">童装童鞋</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=艺术">艺术</a>
					<a class="link" target="_blank" href="./list.html?keyword=礼品鲜花">礼品鲜花</a>
					<a class="link" target="_blank" href="./list.html?keyword=农资绿植">农资绿植</a>
				</li>
			</ul>
			<div class="banner-con">
				<div class="loading"></div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>	