<!DOCTYPE html>
<html lang="en">
	<head>
		<%= require('html-loader!./layout/head-common.html') %>
		<title><%= htmlWebpackPlugin.options.title %> - happymmall在线电商购物平台</title>
	</head>
	<body>
		<%= require('html-loader!./layout/nav-simple.html') %>
		<div class="page-wrap">
			<div class="w">
				<div class="user-content">
					<div class="user-title">找回密码</div>
					<div class="user-box">
						<div class="error-item">
							<i class="fa fa-minus-circle error-icon"></i>			
							<p class="err-msg">Error</p>
						</div>
						<div class="step-content step-username">
							<p class="user-item-text">请输入用户名：</p>
							<div class="user-item">
								<label class="user-label" for="username">
									<i class="fa fa-user"></i>
								</label>
								<input class="user-info" id="username" placeholder="请输入用户名" autocomplete="off">  
							</div> 
							<a class="btn btn-submit" id="submit-username">下一步</a>
						</div>
						<div class="step-content step-question">
							<p class="user-item-text">密码提示问题：
								<span class="question"></span>
							</p>
							<div class="user-item">
								<label class="user-label" for="answer">
									<i class="fa fa-key"></i>
								</label>
								<input class="user-info" id="answer" placeholder="请输入密码提示答案" autocomplete="off">  
							</div> 
							<a class="btn btn-submit" id="submit-question">下一步</a>
						</div>
						<div class="step-content step-password">
							<p class="user-item-text">请输入新的密码：</p>
							<div class="user-item">
								<label class="user-label" for="password">
									<i class="fa fa-lock"></i>
								</label>
								<input type="password" class="user-info" id="password" placeholder="请输入新的密码" autocomplete="off">  
							</div> 
							<a class="btn btn-submit" id="submit-password">修改密码</a>
						</div>
						 <div class="link-item">
						 	<a class="link" href="./user-login.html" target="_blank">返回登录>>></a>
						 </div>
					</div>
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>	