/*
* @Author: Xugai
* @Date:   2018-03-31 18:45:27
* @Last Modified by:   Xugai
* @Last Modified time: 2018-03-31 19:06:21
*/
.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 10px;
}
.form-line .label{
	display: inline-block;
	width: 60px;
	text-align: center;
}
.form-line .input{
	height: 25px;
	line-height: 25px;
	width: 200px;
	font-size: 14px;
}