/*
* @Author: Xugai
* @Date:   2018-03-28 12:00:03
* @Last Modified by:   Xugai
* @Last Modified time: 2018-03-28 19:51:24
*/
.header .logo{
	position: absolute;
	top:32px;
	left:60px;
	display: block;
	font-size: 38px;
	color: #c60023;
	font-weight: bold;

}
.header .search-con{
	padding: 40px 0 30px 270px;
}
.header .search-con .search-input{
	width: 550px;
	height:40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 15px;
	border: 2px solid #c60023;
	outline: none;
}
.header .search-con .search-btn{
	height:44px;
	position: absolute;
	width:90px;
}