<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="https://www.tmall.com" target="_blank">天猫</a> |
			<a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
			<a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
			<a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
		</div>
		<p class="copyright">
			Copyright © 2018-2019 www.immall.tk All Right Reserved.
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>