/*
* @Author: Xugai
* @Date:   2018-03-27 11:27:37
* @Last Modified by:   Xugai
* @Last Modified time: 2018-03-31 11:49:13
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 32px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}
.nav-simple .welcome{
	font-size: 24px;
	margin-left: 5px;
}